#app {
    display: flex;
    flex-flow: row wrap;
    
    #eat {
        width: 48%;
        height: 400px;
        background-color:blue;
        #healthy {
            align-content: flex-end;
            justify-content: flex-end;
        }
    }

    #play {
        width: 48%;
        height: 400px;
        background-color:purple;
    }

    #sleep {
        width: 48%;
        height: 400px;
        background-color:red;
    }

    #fight {
        width: 48%;
        height: 400px;
        background-color:green;
    }
}
